@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Jost:wght@400;500&display=swap');


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    font-size: 62.5%;
    // background: #000;
    font-family: 'Jost', sans-serif;
    @media only screen and (max-width: 800px) {
        font-size: 50%;
      }
}

.section{
   
   
}
