

#intro{
    &__article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img--box{
        display: flex;
        justify-content: center;
    }
    &__view--links-box{
        display: flex;
        flex-direction: column;   
        align-items: center;
        justify-content: space-around;
        
    }
}

.link{
    display: flex;
    align-items: center;
    & img{
        padding-left: 15px;
    }
}
.description__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p{
        width: 327px;
    }
}

#contanct__section{
    display: flex;
    flex-flow: column;
    // justify-content: center;
}
#footer__nav{
    
    flex-flow: column nowrap;
    justify-content: space-between;
}
#nav__list{
    display: flex;
    flex-flow: column nowrap;
}
.social__logo{
    display: flex;
    justify-content: space-between;
}